@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');

:root {
    --primary-color: #FFF59E;
    --secondary-color: #2A2D34;
    --accent1-color: #F26430;
    --accent2-color: #000080;

    --heading-font: 'Roboto';
    --paragraph-font: 'Roboto';

    --nav-background-color: #ffffff;
    --nav-link-color: #000000;
    --nav-hover-link-color: #494949;
    --nav-hover-background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

a {
    font-family: var(--paragraph-font);
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    justify-items: center;
    align-items: center;
}

header img {
    grid-column: 1;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    list-style: none;
    max-height: 100px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav img {
    height: 30px;
    width: auto;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

section img {
    width: 300px;
    height: auto;
}

span {
    color: var(--accent2-color);
    font-weight: bolder;
}

form {
    width: 650px;
    margin: 0 auto;
    display: grid;
    padding: 1rem;
    border: 1px solid var(--accent1-color);
    border-radius: .5rem;
    background-color: #eee;
    grid-template-columns: 1fr;
    align-self: center;
    font-size: 1.1em;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

label {
    text-align: left;
}

button {
    background-color: var(--accent2-color);
    color: #fff;
    border: none;
    margin: 1rem;
    border-radius: 0.2em;
}

button:hover {
    background-color: var(--accent1-color);
}

input, select, textarea, button {
    padding: 0.5rem;
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
}

li {
    padding: .2rem;
    margin-bottom: 5px;
}



/* Class Selectors */

.hero {
    position: relative;
    display: flex;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 4%;
    bottom: auto;
    left: 10%;
    right: 10%;
    background-color: rgba(108, 172, 228, 0.9); /* accent2-color in RGBA to adapt opacity */
    text-align: center;
    font-size: 80px;
    order: 1;
}

.hero article {
    position: absolute;
    top: auto;
    bottom: 40%;
    left: 10%;
    right: 10%;
    background-color: rgba(242, 100, 48, 0.9); /* accent2-color in RGBA to adapt opacity */
    padding: 20px;
    order: 2;
}

.hero article img {
    width: 300px;
    height: auto;
    float: right;
    padding: 0%;
}

.grid {
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 2fr .5fr ;
}

.grid img {
    grid-column: 2/3;
    width: 200px;
    height: auto;
}

.grid nav {
    grid-column: 4/6;

}

.history {
    display: flex;
    justify-content: space-around;
}

.history img {
    width: auto;
    height: 300px;
    flex: 1;
}

.child2 {
    order: 2;
}

.child1 {
    order: 1;
}

.child3 {
    order: 3;
}
.adventures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    max-width: fit-content;
}

.sociallinks {
    display: flex;
    justify-content: end;
}

.sociallinks img {
    width: 40px;
    height: auto;
}

.employees {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 650px;
}

.employeeimage {
    width: 250px;
    height: auto;
}

.employees figcaption {
    text-align: center;
}



